<h1>Listing users</h1>

<table>
  <tr>
    <th>الإسم</th>
    <th>البريد</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'عرض', user %></td>
    <td><%= link_to 'تعديل', edit_user_path(user) %></td>
    <td><%= link_to 'حذف', user, method: :delete, data: { confirm: 'هل أنت متأكد؟' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'مستخدم جديد', new_user_path %>
